<a href="https://colab.research.google.com/github/vcdemy/20240829/blob/main/20240830%E7%AD%86%E8%A8%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20240830筆記

## 複習基本資料型態及容器型別

* int, float, bool, str
* list, tuple, dict, set

### 字串的加法及乘法

In [1]:
'abc' + '123'

'abc123'

In [2]:
'abc' * 3

'abcabcabc'

In [4]:
'abc' + 123

TypeError: can only concatenate str (not "int") to str

In [5]:
'abc' + str(123)

'abc123'

In [3]:
'abc' * 3.0

TypeError: can't multiply sequence by non-int of type 'float'

In [6]:
'abc' * int(3.0)

'abcabcabc'

### 綜合練習 01

請用 for 迴圈畫出底下金字塔。

```
      *
     ***
    *****
   *******
  *********
```

In [8]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(5):
    print(2*i+1)

1
3
5
7
9

In [10]:
for i in range(5):
    print('*'*(2*i+1))

*
***
*****
*******
*********

In [11]:
for i in range(5):
    print(' '*i+'*'*(2*i+1))

*
 ***
  *****
   *******
    *********

In [12]:
for i in range(5):
    print(' '*(5-i)+'*'*(2*i+1))

     *
    ***
   *****
  *******
 *********

### 綜合練習 02

請將上面的程式碼打包成一個函式，輸入一個整數n，畫出高度為n的金字塔。

In [ ]:
def pyramid(n):
  pass

In [13]:
def pyramid(n):
    for i in range(n):
        print(' '*(n-i)+'*'*(2*i+1))

In [16]:
pyramid(7)

       *
      ***
     *****
    *******
   *********
  ***********
 *************

## zerojudge.tw使用簡介

* 如何讀取資料？ => input()
* 如何印出結果？ => print()

In [17]:
input?

In [18]:
x = input('請輸入一個整數：')

請輸入一個整數：10

In [19]:
x

'10'

In [20]:
int(x)

10

In [21]:
x + 1

TypeError: can only concatenate str (not "int") to str

In [22]:
print?

In [23]:
print(1, 2, 3, 4, 5)

1 2 3 4 5

In [24]:
print(1, 2, 3, 4, 5, sep='-')

1-2-3-4-5

In [25]:
print(1, 2, 3)
print(4, 5, 6)

1 2 3
4 5 6

In [26]:
print(1, 2, 3, end=" ")
print(4, 5, 6)

1 2 3 4 5 6

In [27]:
print(1, 2, 3, end="+++")
print(4, 5, 6)

1 2 3+++4 5 6

### 字串的格式化

* python2
* python3
* f-string

In [28]:
m = 1
n = 3.14159
print('m=%d, n=%f' % (m, n))

m=1, n=3.141590

In [29]:
print('m={}, n={}'.format(m, n))

m=1, n=3.14159

In [30]:
print(f'm={m}, n={n}')

m=1, n=3.14159